---
import BaseLayout from "$layouts/base-layout.astro";
import CvWorkListing from "$components/cv/cv-work-listing.svelte";
import CvEducationListing from "$components/cv/cv-education-listing.svelte";
import { getCollection } from "astro:content";
import Button from "$lib/ui/button/button.svelte";
import { Download } from "@lucide/svelte";
import { getTranslations } from "../../../i18n";

const lang = "en";
const t = getTranslations(lang);
const cvWork = await getCollection("work-en");
const cvEducation = await getCollection("education-en");

const now = new Date();

cvWork.sort((a, b) => {
  const toA = a.data.to === "now" ? now : a.data.to;
  const toB = b.data.to === "now" ? now : b.data.to;

  const dateAFrom = toA.getTime();
  const dateBFrom = toB.getTime();

  return dateBFrom - dateAFrom;
});
---

<BaseLayout lang={lang}>
  <div class="app-grid py-8">
    <div class="app-text-column flex justify-end gap-2">
      <Button href="/api/cv/pdf?lang=de" variant="outline" size="sm">
        <Download />
        {t.buttons.downloadPdfDe}
      </Button>
      <Button href="/api/cv/pdf?lang=en" variant="outline" size="sm">
        <Download />
        {t.buttons.downloadPdfEn}
      </Button>
    </div>
  </div>

  <CvWorkListing
    title={t.sections.workExperience}
    items={cvWork.filter((item) => item.data.type === "main")}
    lang={lang}
    showIntro={true}
    showDetails={false}
    showBadges={false}
  />

  <CvWorkListing
    title={t.sections.sideProjects}
    items={cvWork.filter((item) => item.data.type === "side")}
    lang={lang}
    showIntro={true}
    showDetails={false}
    showBadges={false}
  />

  <CvEducationListing title={t.sections.education} items={cvEducation} />
</BaseLayout>
