---
import BaseLayout from "$layouts/base-layout.astro";
import CvWorkListing from "$components/cv/cv-work-listing.svelte";
import CvEducationListing from "$components/cv/cv-education-listing.svelte";
import { getCollection } from "astro:content";
import Button from "$lib/ui/button/button.svelte";
import { Download } from "@lucide/svelte";

const cvWork = await getCollection("work");
const cvEducation = await getCollection("education");

const now = new Date();

cvWork.sort((a, b) => {
  const toA = a.data.to === "now" ? now : a.data.to;
  const toB = b.data.to === "now" ? now : b.data.to;

  const dateAFrom = toA.getTime();
  const dateBFrom = toB.getTime();

  return dateBFrom - dateAFrom;
});
---

<BaseLayout>
  <div class="app-grid py-8">
    <div class="app-text-column flex justify-end">
      <Button href="/api/cv/pdf" variant="outline" size="sm">
        <Download />
        PDF herunterladen
      </Button>
    </div>
  </div>

  <CvWorkListing
    title="Projekte & Festanstellungen"
    items={cvWork.filter((item) => item.data.type === "main")}
    showIntro={true}
    showDetails={false}
  />

  <CvWorkListing
    title="Nebenprojekte"
    items={cvWork.filter((item) => item.data.type === "side")}
    showIntro={true}
    showDetails={false}
  />

  <CvEducationListing title="Ausbildung" items={cvEducation} />
</BaseLayout>
